FRP_UPDATE=1
FRP_UPDATE_INTERVAL=86400
TZ=Asia/Taipei
FRPS=1
FRPS_PORT=7000
FRPS_KCP_PORT=7000
FRPS_MULTIUSER_SERVICE_PORT=7500
FRP_USER_user1=token_user_1
FRP_USER_usera=token_user_a
FRP_USER_user2=token_user_2
FRPC=0
FRPC_CONN=
FRPC_CONN_PORT=
FRPC_USER=
FRPC_TOKEN=
FRPC_PROTO=
FRPC_PROXY_TYPE=
FRPC_LOCAL_PORT=
FRPC_REMOTE_PORT=